<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
<ul class="nav">
    <li> <= row ></li>
  end

  <a href="catcher.erb">catcher page</a>
  <a href="pitcher.erb">pitcher page</a>
  <a href="1st Base.erb">1st Base page</a>
  <a href="2nd Base.erb">2nd Base page</a>
  <a href="3rd Base.erb">3rd Base page</a>
  <a href="Shortstop.erb">Shortstop page</a>
  <a href="Right Field.erb">Right Field page</a>
  <a href="Center Field.erb">Center Field page</a>
  <a href="Left Field.erb">Left Field page</a>
</li>

  </body>
</html>
